<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.drawsomething">

    <application
        android:name=".DrawSomething"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Groep" />
        <activity android:name=".activity.CreateSpeler" />
        <activity android:name=".activity.MaakGroep" />
        <activity android:name=".activity.WoordenKiezer" />
        <activity android:name=".activity.GuessWord" />
        <activity android:name=".activity.CanvasActivity" />
        <activity android:name=".activity.WoordenBeheren"/>
        <activity android:name=".activity.InlogAdmin"/>
    </application>

</manifest>